@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  background-color: #36384D;
}

.svg-container {
  width: 100%; 
  max-width: 500px; 
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

 
}
